docs/IoT_on_Blockchain/AdvancedNode-REDApplication.txt
[{"id":"6d4850ee.ca9d8","type":"inject","z":"70e11614.719388","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":220,"y":340,"wires":[["7ac0e160.dd35c"]]},{"id":"7ac0e160.dd35c","type":"function","z":"70e11614.719388","name":"Asset payload","func":"\nmsg.payload = {\n    \"class\": \"org.poc.scbn.IoTDeviceReading\",\n    \"deviceId\": \"iotsensor\",\n    \"description\": \"iotsensor reading\",\n    \"date\": \"2017-11-12T17:50:29.455Z\",\n    \"time\": \"2017-11-12T17:50:29.455Z\",\n    \"altitude\": 10000,\n    \"accelX\": 1,\n    \"accelY\": 1,\n    \"accelZ\": 1,\n    \"latitude\": 33.675,\n    \"longitude\": 34.5,\n    \"temperature\": 72,\n    \"humidity\": 30,\n    \"eventCode\": 200,\n    \"shipmentId\": \"326750\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":431.9999771118164,"y":339.99997663497925,"wires":[["a17666db.b36388","d03437c2.f47328"]]},{"id":"a17666db.b36388","type":"debug","z":"70e11614.719388","name":"","active":true,"console":"false","complete":"false","x":790.9999694824219,"y":494.99999725818634,"wires":[]},{"id":"9897920c.4d103","type":"comment","z":"70e11614.719388","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":790,"y":460,"wires":[]},{"id":"42892bcc.c57144","type":"comment","z":"70e11614.719388","name":"Send Device Reading","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":228.99999237060547,"y":302.99999165534973,"wires":[]},{"id":"8633db56.6b3d78","type":"function","z":"70e11614.719388","name":"Asset payload","func":"\nmsg.payload = {\n    \"class\": \"org.poc.scbn.CreateIoTDevice\",\n    \"deviceId\": \"iotsensor\",\n    \"description\": \"Create iotsensor\",\n    \"date\": \"2017-11-12T01:50:29.455Z\",\n    \"time\": \"2017-11-12T01:50:29.455Z\",\n    \"altitude\": 10000,\n    \"accelX\": 1,\n    \"accelY\": 1,\n    \"accelZ\": 1,\n    \"latitude\": 59.675,\n    \"longitude\": 58.5,\n    \"temperature\": 72,\n    \"humidity\": 80,\n    \"eventCode\": 200,\n    \"shipmentId\": \"326750\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":429.1284408569336,"y":180.45484161376953,"wires":[["a17666db.b36388","a8852dcf.354e5"]]},{"id":"5b3bf1da.47965","type":"inject","z":"70e11614.719388","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":220.12845611572266,"y":180.56595611572266,"wires":[["8633db56.6b3d78"]]},{"id":"4ab03f25.b2de8","type":"comment","z":"70e11614.719388","name":"Create Device","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":219.12844848632812,"y":143.5659465789795,"wires":[]},{"id":"d03437c2.f47328","type":"mqtt out","z":"70e11614.719388","name":"Publish to IoT","topic":"iot-2/evt/IoTDeviceReading/fmt/json","qos":"0","retain":"false","broker":"cee80a4d.8c2338","x":717.1285095214844,"y":340.5659694671631,"wires":[]},{"id":"d4922a9c.a65a68","type":"comment","z":"70e11614.719388","name":"Configure for your environment","info":"1. Double click the node.\n2. Click the edit icon next to the Server field.\n3. Update the Server name to correspond to your IoT Platform organization.\n `organization_ID.messaging.internetofthings.ibmcloud.com`\n\n4. Update the Client ID with your orgainzaiton ID, device type, and device ID:\n `d:organization_ID:device_type:device_ID`\n\n5. Click the Security tab.\n6. Verify that the Username field has the value use-token-auth.\n7. Update the Password field with the Authentication Token that you saved earlier.\n8 Click Update and then OK.\n9 In the upper right corner of the Node-RED flow editor, click Deploy. ","x":724.1285781860352,"y":304.5659701824188,"wires":[]},{"id":"a8852dcf.354e5","type":"http request","z":"70e11614.719388","name":"POST to IoT Blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<your_org>/tx/iotsensor_device/UNUSED/CreateIoTDevice","tls":"","x":744.0001678466797,"y":180.00002479553223,"wires":[["a17666db.b36388"]]},{"id":"1ea262e.e763e9d","type":"comment","z":"70e11614.719388","name":"Add your own IoT Blockchain org","info":"Replace the org in the URL with your \norg.  Add your own IoT Blockchain \nAPI key you received when your account was \ncreated.\n\nUse the URL:\nhttps://iot-blockchain.ibm.com/api/v1/<orgid>/\ntx/iotsensor_device/UNUSED/CreateIoTDevice\nSubstitute your IoT Blockchain org for <orgid>.\n\nPlace your IoT Blockchain API key in the \npassword field, leaving use-token-auth\nas the username.","x":738,"y":140,"wires":[]},{"id":"cee80a4d.8c2338","type":"mqtt-broker","z":"70e11614.719388","name":"","broker":"<your_IOTP_org>.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"","clientid":"d:<your_IOTP_org>:iotsensor_device:iotsensor","usetls":true,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
