docs/IoT_on_Blockchain/BasicNode-REDApplication.txt
[{"id":"5b40a4b3.0df45c","type":"inject","z":"f2d49f25.cc002","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["b2c56a77.a15a38"]]},{"id":"b2c56a77.a15a38","type":"function","z":"f2d49f25.cc002","name":"Asset payload","func":"\nmsg.payload = {\n    \"$class\": \"org.poc.scbn.IoTDeviceReading\",\n    \"deviceId\": \"iotsensor\",\n    \"description\": \"iotsensor reading\",\n    \"date\": \"2017-11-12T17:50:29.455Z\",\n    \"time\": \"2017-11-12T17:50:29.455Z\",\n    \"altitude\": 10000,\n    \"accelX\": 1,\n    \"accelY\": 1,\n    \"accelZ\": 1,\n    \"latitude\": 33.675,\n    \"longitude\": 34.5,\n    \"temperature\": 72,\n    \"humidity\": 30,\n    \"eventCode\": 200,\n    \"shipmentId\": \"326750\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":331.9999771118164,"y":339.99997663497925,"wires":[["fca6a058.1535f","d5474a60.121ba8"]]},{"id":"fca6a058.1535f","type":"debug","z":"f2d49f25.cc002","name":"","active":true,"console":"false","complete":"false","x":675.9999694824219,"y":340.99999725818634,"wires":[]},{"id":"b19eb024.1d6b5","type":"comment","z":"f2d49f25.cc002","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":675,"y":306,"wires":[]},{"id":"563b5557.aac05c","type":"comment","z":"f2d49f25.cc002","name":"Send Device Reading","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":128.99999237060547,"y":302.99999165534973,"wires":[]},{"id":"58071acd.ebb514","type":"function","z":"f2d49f25.cc002","name":"Asset payload","func":"\nmsg.payload = {\n    \"$class\": \"org.poc.scbn.CreateIoTDevice\",\n    \"deviceId\": \"iotsensor\",\n    \"description\": \"Create iotsensor\",\n    \"date\": \"2017-11-12T01:50:29.455Z\",\n    \"time\": \"2017-11-12T01:50:29.455Z\",\n    \"altitude\": 10000,\n    \"accelX\": 1,\n    \"accelY\": 1,\n    \"accelZ\": 1,\n    \"latitude\": 59.675,\n    \"longitude\": 58.5,\n    \"temperature\": 72,\n    \"humidity\": 80,\n    \"eventCode\": 200,\n    \"shipmentId\": \"326750\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":329.1284408569336,"y":180.45484161376953,"wires":[["fca6a058.1535f","d5474a60.121ba8"]]},{"id":"146e5e26.b0cf02","type":"inject","z":"f2d49f25.cc002","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":120.12845611572266,"y":180.56595611572266,"wires":[["58071acd.ebb514"]]},{"id":"9ca5ee4a.a40fa","type":"comment","z":"f2d49f25.cc002","name":"Create Device","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":119.12844848632812,"y":143.5659465789795,"wires":[]},{"id":"d5474a60.121ba8","type":"http request","z":"f2d49f25.cc002","name":"POST to IoT Blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<your_org>/tx/appType/UNUSED/IoTDeviceReading","tls":"","x":644.0001678466797,"y":180.00002479553223,"wires":[["fca6a058.1535f"]]},{"id":"38eb65f8.f23bda","type":"comment","z":"f2d49f25.cc002","name":"Add your own IoT Blockchain org","info":"Replace the org in the URL with your \norg.  Add your own IoT Blockchain \nAPI key you received when your account was \ncreated.\n\nUse the URL:\nhttps://iot-blockchain.ibm.com/api/v1/<orgid>/\ntx/iotsensor_device/UNUSED/CreateIoTDevice\nSubstitute your IoT Blockchain org for <orgid>.\n\nPlace your IoT Blockchain API key in the \npassword field, leaving use-token-auth\nas the username.","x":638,"y":140,"wires":[]}]
