docs/IoT_on_Blockchain/BetaAdvancedNode-REDApplication.txt
[{"id":"1c28fe7c.cb9b72","type":"mqtt out","z":"b388e389.96501","name":"Publish to IoT","topic":"iot-2/evt/CreateIoTDevice/fmt/json","qos":"0","retain":"false","broker":"bf4c0a3.aef60f8","x":700.0001754760742,"y":331.0000476837158,"wires":[]},{"id":"bf4990a3.5f028","type":"inject","z":"b388e389.96501","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":199.00000762939453,"y":492.0000228881836,"wires":[["6198417e.f3c1"]]},{"id":"6198417e.f3c1","type":"function","z":"b388e389.96501","name":"Asset payload","func":"var asset = \"iotsensor\";\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\ncontext.set('counter1',counter1);\n\nmsg = {\n \tpayload: JSON.stringify({\n        \"asset\": \"resource:org.poc.scbn.IoTDevice#iotsensor1234\",\n        \"class\": \"org.poc.scbn.IoTDeviceReading\",\n        \"deviceId\": \"iotsensor\",\n        \"description\": \"iotsensor reading\",\n        \"date\": \"2017-11-12T17:50:29.455Z\",\n        \"time\": \"2017-11-12T17:50:29.455Z\",\n        \"altitude\": 10000,\n        \"accelX\": 1,\n        \"accelY\": 1,\n        \"accelZ\": 1,\n        \"latitude\": 33.675,\n        \"longitude\": 34.5,\n        \"temperature\": 72,\n        \"humidity\": 30,\n        \"eventCode\": 200,\n        \"shipmentId\": \"326750\"\n\t }\n   )\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410.99998474121094,"y":491.99999952316284,"wires":[["632f6879.686d08","7e0ef40d.c3797c"]]},{"id":"632f6879.686d08","type":"debug","z":"b388e389.96501","name":"","active":true,"console":"false","complete":"false","x":694.0000686645508,"y":638.0000398755074,"wires":[]},{"id":"c9bf8e8f.3bd52","type":"comment","z":"b388e389.96501","name":"Configure Publish to IoT for your environment","info":"1. Double click the node.\n2. Click the edit icon next to the Server field.\n3. Update the Server name to correspond to your IoT Platform organization.\n `organization_ID.messaging.internetofthings.ibmcloud.com`\n\n4. Update the Client ID with your orgainzaiton ID, device type, and device ID:\n `d:organization_ID:device_type:device_ID`\n\n5. Click the Security tab.\n6. Verify that the Username field has the value use-auth-token.\n7. Update the Password field with the Authentication Token that you saved earlier.\n8 Click Update and then OK.\n9 In the upper right corner of the Node-RED flow editor, click Deploy. ","x":738.0002136230469,"y":295.00007820129395,"wires":[]},{"id":"f97ffcf7.1cb41","type":"comment","z":"b388e389.96501","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":693.0000991821289,"y":603.000042617321,"wires":[]},{"id":"41faac24.7c1654","type":"comment","z":"b388e389.96501","name":"Send Device Reading","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":208,"y":455.0000145435333,"wires":[]},{"id":"8dd64dd7.acf02","type":"function","z":"b388e389.96501","name":"Asset payload","func":"var asset = \"iotsensor\";\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\ncontext.set('counter1',counter1);\n\nmsg = {\n \tpayload: JSON.stringify({\n        \"class\": \"org.poc.scbn.CreateIoTDevice\",\n        \"deviceId\": \"iotsensor\",\n        \"description\": \"Create iotsensor\",\n        \"date\": \"2017-11-12T01:50:29.455Z\",\n        \"time\": \"2017-11-12T01:50:29.455Z\",\n        \"altitude\": 10000,\n        \"accelX\": 1,\n        \"accelY\": 1,\n        \"accelZ\": 1,\n        \"latitude\": 59.675,\n        \"longitude\": 58.5,\n        \"temperature\": 72,\n        \"humidity\": 80,\n        \"eventCode\": 200,\n        \"shipmentId\": \"326750\"\n        }\n    )\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":408.1284484863281,"y":332.4548645019531,"wires":[["1c28fe7c.cb9b72","632f6879.686d08"]]},{"id":"9d84db6c.b34178","type":"inject","z":"b388e389.96501","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":199.1284637451172,"y":332.56597900390625,"wires":[["8dd64dd7.acf02"]]},{"id":"cd490e16.33c51","type":"comment","z":"b388e389.96501","name":"Create Device","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":198.12845611572266,"y":295.5659694671631,"wires":[]},{"id":"7e0ef40d.c3797c","type":"mqtt out","z":"b388e389.96501","name":"Publish to IoT","topic":"iot-2/evt/IoTDeviceReading/fmt/json","qos":"0","retain":"false","broker":"bf4c0a3.aef60f8","x":696.1285171508789,"y":492.5659923553467,"wires":[]},{"id":"18cae3f7.d190dc","type":"comment","z":"b388e389.96501","name":"Configure Publish to IoT for your environment","info":"1. Double click the node.\n2. Click the edit icon next to the Server field.\n3. Update the Server name to correspond to your IoT Platform organization.\n `organization_ID.messaging.internetofthings.ibmcloud.com`\n\n4. Update the Client ID with your orgainzaiton ID, device type, and device ID:\n `d:organization_ID:device_type:device_ID`\n\n5. Click the Security tab.\n6. Verify that the Username field has the value use-auth-token.\n7. Update the Password field with the Authentication Token that you saved earlier.\n8 Click Update and then OK.\n9 In the upper right corner of the Node-RED flow editor, click Deploy. ","x":743.1285858154297,"y":456.5659930706024,"wires":[]},{"id":"bf4c0a3.aef60f8","type":"mqtt-broker","z":"b388e389.96501","broker":"d807by.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"","clientid":"d:d807by:iotsensor_device:iotsensor","usetls":true,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
