docs/IoT_on_Blockchain/BetaSimpleNode-REDApplication.txt
[{"id":"bf4990a3.5f028","type":"inject","z":"b388e389.96501","name":"iotsensor","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":199.00000762939453,"y":492.0000228881836,"wires":[["6198417e.f3c1"]]},{"id":"6198417e.f3c1","type":"function","z":"b388e389.96501","name":"Asset payload","func":"var asset = \"iotsensor\";\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\ncontext.set('counter1',counter1);\n\nmsg.payload = {\n// \tpayload: JSON.stringify({\n \t    \"$class\": \"org.acme.sample.SampleTransaction\",\n        \"asset\": \"resource:org.acme.sample.SampleAsset#iotsensor\",\n        \"assetId\": \"iotsensor\",\n        \"description\": \"iotsensor reading\",\n        \"date\": \"2017-11-12T17:50:29.455Z\",\n        \"time\": \"2017-11-12T17:50:29.455Z\",\n        \"altitude\": 1000+counter1,\n        \"accelX\": 1,\n        \"accelY\": 1,\n        \"accelZ\": 1,\n        \"latitude\": 33.675,\n        \"longitude\": 34.5,\n        \"temperature\": 72,\n        \"humidity\": 30,\n        \"eventCode\": 200,\n        \"shipmentId\": \"326750\"\n//\t }\n//   )\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410.99998474121094,"y":491.99999952316284,"wires":[["632f6879.686d08","abb0ce9c.37ebe"]]},{"id":"632f6879.686d08","type":"debug","z":"b388e389.96501","name":"","active":true,"console":"false","complete":"false","x":694.0000686645508,"y":638.0000398755074,"wires":[]},{"id":"f97ffcf7.1cb41","type":"comment","z":"b388e389.96501","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":693.0000991821289,"y":603.000042617321,"wires":[]},{"id":"41faac24.7c1654","type":"comment","z":"b388e389.96501","name":"Send Device Reading","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":204.00001525878906,"y":455.0000162124634,"wires":[]},{"id":"18cae3f7.d190dc","type":"comment","z":"b388e389.96501","name":"Send to IoT Blockchain","info":"","x":720.1286163330078,"y":456.56598925590515,"wires":[]},{"id":"abb0ce9c.37ebe","type":"http request","z":"b388e389.96501","name":"post-to-iot-blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<your_org>/tx/appType/instance1/IoTDeviceReading","tls":"","x":722.1944961547852,"y":493.29168224334717,"wires":[["632f6879.686d08"]]}]
