docs/IoT_on_Blockchain/EventFilteringNode-REDApplication.txt
[{"id":"2212d456.8790cc","type":"debug","z":"56a7f5b5.34353c","name":"Debug","active":true,"console":"false","complete":"payload","x":730,"y":220,"wires":[]},{"id":"9e95a45c.285f48","type":"comment","z":"56a7f5b5.34353c","name":"Add your own IoTP API key and token","info":"Modify the \"MQTT Listener\" node \nto use your own API key and authentication \ntoken.  In the IoTP UI, click on your org in \nthe upper right to generate a new API key \nand authentication token.  Use the API key for the username field and \nuse the authentication token for the password\nfield.\n\nYou also need to look up your logical interface \nid, which is *not* the name of the logical \ninterface, using:\nhttps://<your_org>.internetofthings.ibmcloud.com/api/v0002/device/types/<your_device_type>/logicalinterfaces","x":190,"y":160,"wires":[]},{"id":"36732020.097668","type":"http request","z":"56a7f5b5.34353c","name":"POST to IoT-BC","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<org>/tx/<deviceType>/UNUSED/<eventType>","tls":"","x":760,"y":300,"wires":[[]]},{"id":"93d21f36.d07478","type":"mqtt in","z":"56a7f5b5.34353c","name":"Listen for State Changes","topic":"iot-2/type/<device_type>/id/<device_id>/intf/<alias>/evt/state","qos":"0","broker":"14df2a20.6f61ae","x":230,"y":220,"wires":[["ed96bad7.8d00b"]]},{"id":"ed96bad7.8d00b","type":"function","z":"56a7f5b5.34353c","name":"class to $class","func":"// Replace \"class\" with \"$class\" needed for \n// Composer, since $class is not allowed by IoTP.\nvar str = JSON.stringify(msg.payload);\nvar res = str.replace(\"class\", \"$class\");\nvar a = JSON.parse(res);\n\n// Obtain state payload for iot blockchain transaction\nvar b = JSON.parse(a);\nmsg.payload = b.state;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["2212d456.8790cc","36732020.097668"]]},{"id":"14df2a20.6f61ae","type":"mqtt-broker","z":"","name":"","broker":"<org>.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"","clientid":"a:<org>:NodeRedMQTTListener","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
