docs/IoT_on_Blockchain/EventFilteringNode-REDApplication.txt
[{"id":"45216aa7.28e084","type":"debug","z":"979b1fca.bd2de8","name":"Debug","active":true,"console":"false","complete":"payload","x":690,"y":280,"wires":[]},{"id":"cfee8c43.b20d98","type":"comment","z":"979b1fca.bd2de8","name":"Configure the MQTT Node with API key and token","info":"Modify the \"Listen for State Changes\" MQTT node \nto use a Watson IoT Platform API key (username) and authentication \ntoken (password) to connect to your Watson IoT Platform org.\nYou also need the ID of the logical interface that sends the events that you are interested in. \nYou can look up the ID in the Watson IoT Platform dashboard from: **Devices > Device Types > [Device type] > Interface > [Logical Interface] lookup icon**\nYou can also use the `/api/v0002/device/types/<your_device_type>/logicalinterfaces` API call to find the ID.","x":270,"y":200,"wires":[]},{"id":"1a8deba5.3c3a84","type":"http request","z":"979b1fca.bd2de8","name":"POST to IoT-BC","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<org>/tx/<deviceType>/UNUSED/<event_id>","tls":"","x":720,"y":360,"wires":[[]]},{"id":"e8d20d78.ae0418","type":"mqtt in","z":"979b1fca.bd2de8","name":"Listen for State Changes","topic":"iot-2/type/<device_type>/id/<device_id>/intf/<alias>/evt/state","qos":"0","broker":"a93339c8.0fe52","x":190,"y":280,"wires":[["1fba564b.194e52"]]},{"id":"1fba564b.194e52","type":"function","z":"979b1fca.bd2de8","name":"class to $class","func":"// Replace \"class\" with \"$class\" needed for \n// Composer, since $class is not allowed by IoTP.\nvar str = JSON.stringify(msg.payload);\nvar res = str.replace(\"class\", \"$class\");\nvar a = JSON.parse(res);\n\n// Obtain state payload for iot blockchain transaction\nvar b = JSON.parse(a);\nmsg.payload = b.state;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["45216aa7.28e084","1a8deba5.3c3a84"]]},{"id":"a93339c8.0fe52","type":"mqtt-broker","z":"","name":"","broker":"<org>.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"","clientid":"a:<org>:NodeRedMQTTListener","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
