docs/IoT_on_Blockchain/MQTTListenerNode-REDApplication.txt
[{"id":"f0b0a3f2.315b4","type":"ibmiot in","z":"8e558a64.87f838","authentication":"apiKey","apiKey":"7492510.ab882b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT MQTT Listener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":240,"y":220,"wires":[["f4a4981e.874248","41ee24bc.1f668c"]]},{"id":"f4a4981e.874248","type":"debug","z":"8e558a64.87f838","name":"","active":true,"console":"false","complete":"false","x":830,"y":360,"wires":[]},{"id":"21c279cb.e18c06","type":"http request","z":"8e558a64.87f838","name":"POST to IoT Blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<your_org>/tx/iotsensor_device/UNUSED/IoTDeviceReading","tls":"","x":830,"y":220,"wires":[["f4a4981e.874248"]]},{"id":"41ee24bc.1f668c","type":"function","z":"8e558a64.87f838","name":"Get Payload","func":"// Set the POST payload\npayload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["21c279cb.e18c06"]]},{"id":"4381d34c.2b25dc","type":"comment","z":"8e558a64.87f838","name":"Add your own IoTP API key and token","info":"Modify the \"IBM IoT MQTT Listener\" ibmiot node \nto use your own API key and authentication \ntoken.  In the IoTP UI, click on your org in \nthe upper right to generate a new API key \nand authentication token.","x":250,"y":179,"wires":[]},{"id":"a0221ee.bf323e","type":"comment","z":"8e558a64.87f838","name":"Add your own IoT Blockchain org and route","info":"Replace the org and route in the URL with your \norg and your route.  Add your own IoT Blockchain \nAPI key you received when your account was \ncreated.\n\nUse the URL:\nhttps://iot-blockchain.ibm.com/api/v1/<orgid>/\ntx/TEST/UNUSED/SRDE\nSubstitute your IoT Blockchain org for <orgid>\nand your IoT Blockchain route for \n\"TEST/UNUSED/SRDE\".\n\nPlace your IoT Blockchain API key in the \npassword field, leaving use-token-auth\nas the username.","x":845,"y":178,"wires":[]},{"id":"7492510.ab882b","type":"ibmiot","z":"","name":"API key","keepalive":"60","serverName":"<your_org>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
