docs/IoT_on_Blockchain/TI_SensorTag_Node-RED_App.txt
[{"id":"adac126d.1be4e8","type":"function","z":"185f9124.5eacd7","name":"Asset payload","func":"var accelX = (msg.payload.d.accelX);\nvar accelY = (msg.payload.d.accelY);\nvar accelZ = (msg.payload.d.accelZ);\nvar objectTemp = (msg.payload.d.objectTemp);\nvar key = (msg.payload.d.key1);\n\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\ncontext.set('counter1',counter1);\n\nif (key > 0) { \n    msg.payload = {\n    \"$class\": \"org.poc.scbn.IoTDeviceReading\",\n    \"deviceId\": \"iotsensor\",\n    \"description\": \"iotsensor reading\",\n    \"date\": \"2017-11-12T17:50:29.455Z\",\n    \"time\": \"2017-11-12T17:50:29.455Z\",\n    \"altitude\": 10000,\n    \"accelX\": accelX,\n    \"accelY\": accelY,\n    \"accelZ\": accelZ,\n    \"latitude\": 33.675,\n    \"longitude\": 34.5,\n    \"temperature\": objectTemp,\n    \"humidity\": 30,\n    \"eventCode\": 200,\n    \"shipmentId\": \"326750\"\n    }\n}\n\nelse { \n msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["6d57cf0b.8c9dd","aca7d7a7.857fe8"]]},{"id":"6d57cf0b.8c9dd","type":"debug","z":"185f9124.5eacd7","name":"","active":true,"console":"false","complete":"false","x":703.0000839233398,"y":326.0000403523445,"wires":[]},{"id":"7b3a88cb.825818","type":"comment","z":"185f9124.5eacd7","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":702.000114440918,"y":291.0000430941582,"wires":[]},{"id":"92e241c4.a5025","type":"comment","z":"185f9124.5eacd7","name":"Send to IoT Blockchain","info":"","x":729.1286315917969,"y":144.5659897327423,"wires":[]},{"id":"aca7d7a7.857fe8","type":"http request","z":"185f9124.5eacd7","name":"Post to IoT Blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<your_org>/tx/iotsensor_device/UNUSED/IoTDeviceReading","tls":"","x":731.1945114135742,"y":181.29168272018433,"wires":[["6d57cf0b.8c9dd"]]},{"id":"ca10df68.39e6c8","type":"ibmiot in","z":"185f9124.5eacd7","authentication":"apiKey","apiKey":"b00851d8.1217","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT MQTT Listener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":180,"wires":[["adac126d.1be4e8"]]},{"id":"b00851d8.1217","type":"ibmiot","z":"","name":"API key","keepalive":"60","serverName":"<your_org>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
