docs/IoT_on_Blockchain/TI_SensorTag_Node-RED_App.txt
[{"id":"83a36215.d2e078","type":"function","z":"8d43efc9.b7fc68","name":"Asset payload","func":"var asset = \"iotsensor\";\nvar accelX = (msg.payload.d.accelX);\nvar accelY = (msg.payload.d.accelY);\nvar accelZ = (msg.payload.d.accelZ);\nvar objectTemp = (msg.payload.d.objectTemp);\nvar key = (msg.payload.d.key1);\n\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\ncontext.set('counter1',counter1);\n\nif (key > 0) { msg = {\n \tpayload: JSON.stringify(\n \t    {\n \t     \"$class\": \"org.acme.sample.SampleTransaction\",\n         \"asset\": \"resource:org.acme.sample.SampleAsset#iotsensor\",\n         \"assetId\": \"iotsensor\",\n         \"description\": \"iotsensor reading\",\n         \"date\": \"2017-11-12T17:50:29.455Z\",\n         \"time\": \"2017-11-12T17:50:29.455Z\",\n         \"altitude\": 1000+counter1,\n         \"accelX\": accelX,\n         \"accelY\": accelY,\n         \"accelZ\": accelZ,\n         \"latitude\": 33.675,\n         \"longitude\": 34.5,\n         \"temperature\": objectTemp,\n         \"humidity\": 30,\n         \"eventCode\": 200,\n         \"shipmentId\": \"326750\"\n\t    }\n    )\n}}\n\nelse { \n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":431.9999771118164,"y":179.99997663497925,"wires":[["17e42dad.e64b32","baaf815c.8d96a"]]},{"id":"17e42dad.e64b32","type":"debug","z":"8d43efc9.b7fc68","name":"","active":true,"console":"false","complete":"false","x":715.0000610351562,"y":326.00001698732376,"wires":[]},{"id":"68fb44ef.65aa24","type":"comment","z":"8d43efc9.b7fc68","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":714.0000915527344,"y":291.0000197291374,"wires":[]},{"id":"f78d0465.186578","type":"comment","z":"8d43efc9.b7fc68","name":"Send to IoT Blockchain","info":"","x":741.1286087036133,"y":144.56596636772156,"wires":[]},{"id":"baaf815c.8d96a","type":"http request","z":"8d43efc9.b7fc68","name":"post-to-iot-blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/vae04/tx/appType/instance1/IoTDeviceReading","tls":"","x":743.1944885253906,"y":181.29165935516357,"wires":[["17e42dad.e64b32"]]},{"id":"69592c46.1ae14c","type":"ibmiot in","z":"8d43efc9.b7fc68","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b0b448b8f581","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":205.49998474121094,"y":178.39999389648438,"wires":[["83a36215.d2e078"]]}]
