docs/IoT_on_Blockchain/TI_SensorTag_Node-RED_App.txt
[{"id":"ee22a4d3.64c7d","type":"function","z":"21ad1e99.2f22ca","name":"Asset payload","func":"var date = msg.date;\nvar accelX = (msg.payload.d.accelX);\nvar accelY = (msg.payload.d.accelY);\nvar accelZ = (msg.payload.d.accelZ);\nvar objectTemp = (msg.payload.d.objectTemp);\nvar key = (msg.payload.d.key1);\n\nif (key > 0) { \n    msg.payload = {\n    \"$class\": \"org.poc.scbn.IoTDeviceReading\",\n    \"deviceId\": \"iotsensor\",\n    \"description\": \"iotsensor reading\",\n    \"date\": date,\n    \"time\": date,\n    \"altitude\": 10000,\n    \"accelX\": accelX,\n    \"accelY\": accelY,\n    \"accelZ\": accelZ,\n    \"latitude\": 33.675,\n    \"longitude\": 34.5,\n    \"temperature\": objectTemp,\n    \"humidity\": 30,\n    \"eventCode\": 200,\n    \"shipmentId\": \"326750\"\n    }\n}\n\nelse { \n msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["41309c7a.324234","dd1ebaa3.ba49a8"]]},{"id":"41309c7a.324234","type":"debug","z":"21ad1e99.2f22ca","name":"","active":true,"console":"false","complete":"false","x":810,"y":380,"wires":[]},{"id":"dce64040.9ed24","type":"comment","z":"21ad1e99.2f22ca","name":"Debug node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":810,"y":340,"wires":[]},{"id":"d1378970.c29058","type":"comment","z":"21ad1e99.2f22ca","name":"Send to Watson IoT Blockchain","info":"Configure the node for use with your environment:\n1. Select the **Post to IoT Blockchain** node and replace `<your_org>` in the URL with your IoT Blockchain Service org ID.  \n2. Select to use basic authentication.  \n3. Set the Username field to the value `use-token-auth`.  \n4. Update the Password field with the IoT Blockchain Service API key.  \n5. Make sure Enable secure (SSL/TLS) connection is checked.  \n6. Click **Done**.","x":850,"y":200,"wires":[]},{"id":"dd1ebaa3.ba49a8","type":"http request","z":"21ad1e99.2f22ca","name":"Post to IoT Blockchain","method":"POST","ret":"txt","url":"https://iot-blockchain.ibm.com/api/v1/<your_org>/tx/iotsensor_device/UNUSED/IoTDeviceReading","tls":"","x":820,"y":240,"wires":[["41309c7a.324234"]]},{"id":"d26e752a.2bb6c8","type":"ibmiot in","z":"21ad1e99.2f22ca","authentication":"apiKey","apiKey":"3e769712.e60668","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT MQTT Listener","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":180,"wires":[["f8fa21be.f5d808"]]},{"id":"18da9ec1.6a3421","type":"comment","z":"21ad1e99.2f22ca","name":"Create asset payload","info":"The asset payload includes acceleration, temperature, and key press data from your TI SensorTag, mixed with fictitious shipment information.\nEach time that you press the TI SensorTag key, a message is prepared and sent to Watson IoT Platform.","x":600,"y":200,"wires":[]},{"id":"1ccb082f.8cb6c","type":"comment","z":"21ad1e99.2f22ca","name":"Connect to Watson IoT Platform","info":"Configure the node for use with your environment:\n1. Edit the **IBM IoT MQTT Listener** node.  \n2. Click the edit icon next to the *API Key* field.  \n3. Provide your Watson IoT Platform API key in the *API Key* field.  \n4. Provide your Watson IoT Platform authentication token in the *API Token* field.  \n5. Replace the `<your_org>` entry in the *Server-Name* field with your Watson IoT Platform org ID.  \n**Important:** If you edit the **Post to IoT Blockchain** or **IBM IoT MQTT Listener** nodes in the future, you must provide the API Key or API Token again.  Don't assume that the `*******` value that you see is the API key or token that you previously provided.  If you click **Update** without correcting these fields, your Node-RED flow will fail. If you open these nodes to view the information, be sure to click **Cancel**.  \n6. Click **Deploy** to deploy your configured Node-RED application.","x":150,"y":140,"wires":[]},{"id":"54cdcf06.51a218","type":"comment","z":"21ad1e99.2f22ca","name":"Add timestamp","info":"The moment node receives an empty message and assumes the current date/time. A timestamp using this date/time is sent as msg.date to the asset payload.","x":340,"y":200,"wires":[]},{"id":"f8fa21be.f5d808","type":"moment","z":"21ad1e99.2f22ca","name":"","topic":"","input":"null","inputType":"msg","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"date","outputType":"msg","outTz":"Etc/UTC","x":360,"y":240,"wires":[["ee22a4d3.64c7d"]]},{"id":"3e769712.e60668","type":"ibmiot","z":"","name":"API key","keepalive":"60","serverName":"<your_org>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
