contracts/industry/parkingmeter/NodeFlow.json
[{"id":"c6a2f417.25c68","type":"ibmiot in","z":"ccee3a1f.615","authentication":"apiKey","apiKey":"51fe85ca.45daec","inputType":"evt","deviceId":"177c751b-933e-4ade-b0eb-0a66f7c8a01b","applicationId":"","deviceType":"parking-meter","eventType":"notify","commandType":"","format":"json","name":"parking meter command responses","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":228.888916015625,"y":426.83296966552734,"wires":[["930e0d76.b64ad"]]},{"id":"52f47d26.83a45c","type":"template","z":"ccee3a1f.615","name":"Set Parking Time to 60 seconds","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6NjAsImNtZCI6InNldCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"177c751b-933e-4ade-b0eb-0a66f7c8a01b\", \"method\":\"PUT\" }","x":588.4719543457031,"y":176.38470458984375,"wires":[["5e1f6c5c.1f89bc","604997c1.644f98"]]},{"id":"7acb3869.cc182","type":"inject","z":"ccee3a1f.615","name":"Start Parking Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":270.5750732421875,"y":177.19017791748047,"wires":[["52f47d26.83a45c"]]},{"id":"930e0d76.b64ad","type":"switch","z":"ccee3a1f.615","name":"Is it the parking meter time value?","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"/100/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":219.0675048828125,"y":275.2060775756836,"wires":[["123e944.939eaec","c2a623bb.8e9fa"]]},{"id":"c3f87b12.1fd578","type":"template","z":"ccee3a1f.615","name":"Start Parking Countdown","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJjbWQiOiJzdGFydCIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"177c751b-933e-4ade-b0eb-0a66f7c8a01b\", \"method\":\"PUT\" }","x":743.1944274902344,"y":354.8291549682617,"wires":[["5e1f6c5c.1f89bc","1c243921.b3914f"]]},{"id":"ebada6f3.4d25a8","type":"switch","z":"ccee3a1f.615","name":"Did parking time just get set to 60 seconds?","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"num"}],"checkall":"true","outputs":1,"x":434.8017883300781,"y":354.8290100097656,"wires":[["c3f87b12.1fd578"]]},{"id":"c2a623bb.8e9fa","type":"switch","z":"ccee3a1f.615","name":"Did parking time just expire?","property":"payload.payload","propertyType":"msg","rules":[{"t":"eq","v":"MA==","vt":"str"}],"checkall":"true","outputs":1,"x":730.2779235839844,"y":230.84109497070312,"wires":[["4b01c875.b921e8"]]},{"id":"5e1f6c5c.1f89bc","type":"ibmiot out","z":"ccee3a1f.615","authentication":"apiKey","apiKey":"51fe85ca.45daec","outputType":"cmd","deviceId":"177c751b-933e-4ade-b0eb-0a66f7c8a01b","deviceType":"parking-meter","eventCommandType":"put","format":"json","data":"0","qos":"","name":"set parking meter resource value (PUT)","service":"registered","x":1174.3846130371094,"y":245.18618774414062,"wires":[]},{"id":"77f56e56.efe8d8","type":"template","z":"ccee3a1f.615","name":"Beacon ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MQ==\", \"deviceId\":\"177c751b-933e-4ade-b0eb-0a66f7c8a01b\", \"method\":\"PUT\" }","x":523.4128723144531,"y":114.59121704101562,"wires":[["5e1f6c5c.1f89bc"]]},{"id":"cacfd21d.8ce438","type":"template","z":"ccee3a1f.615","name":"Beacon OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"200/0/1\", \"payload\":\"MA==\", \"deviceId\":\"177c751b-933e-4ade-b0eb-0a66f7c8a01b\", \"method\":\"PUT\" }","x":521.4484558105469,"y":61.73406982421875,"wires":[["5e1f6c5c.1f89bc","8e0cf7a9.ecf708"]]},{"id":"dd48b1b.605b9d","type":"inject","z":"ccee3a1f.615","name":"Set FREE PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":264.9801940917969,"y":61.11109924316406,"wires":[["cacfd21d.8ce438"]]},{"id":"54d435fb.345d1c","type":"template","z":"ccee3a1f.615","name":"Add 12 seconds to the current Parking Time","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"100/0/1\", \"payload\":\"eyJ2YWx1ZSI6MTIsImNtZCI6InVwZGF0ZSIsImF1dGgiOiJhcm0xMjM0In0=\", \"deviceId\":\"177c751b-933e-4ade-b0eb-0a66f7c8a01b\", \"method\":\"PUT\" }","x":581.3136901855469,"y":489.8529968261719,"wires":[["5e1f6c5c.1f89bc"]]},{"id":"4b01c875.b921e8","type":"debug","z":"ccee3a1f.615","name":"","active":true,"console":"false","complete":"payload.ep","x":792.6589050292969,"y":283.29302978515625,"wires":[]},{"id":"123e944.939eaec","type":"function","z":"ccee3a1f.615","name":"Base64DecodeToValueJSON","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"value\":json_obj.value};","outputs":1,"noerr":0,"x":503.7893371582031,"y":276.0191955566406,"wires":[["ebada6f3.4d25a8"]]},{"id":"7b4a7340.598ab4","type":"inject","z":"ccee3a1f.615","name":"Set PAID PARKING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":266.5673522949219,"y":115.12686157226562,"wires":[["77f56e56.efe8d8"]]},{"id":"1c243921.b3914f","type":"debug","z":"ccee3a1f.615","name":"","active":false,"console":"false","complete":"false","x":704.6029968261719,"y":425.3968200683594,"wires":[]},{"id":"147d2f8.f153dd1","type":"inject","z":"ccee3a1f.615","name":"Add To Parking Time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":257.4602966308594,"y":489.6827087402344,"wires":[["54d435fb.345d1c"]]},{"id":"f924c5ee.666d98","type":"http in","z":"ccee3a1f.615","name":"Free Parking","url":"/freePKM-009","method":"post","swaggerDoc":"","x":98.5,"y":26.25,"wires":[["d8db2b2b.ec03e8","cacfd21d.8ce438"]]},{"id":"d8db2b2b.ec03e8","type":"http response","z":"ccee3a1f.615","name":"","x":412.5,"y":20,"wires":[]},{"id":"d1a7d90f.502fa","type":"http in","z":"ccee3a1f.615","name":"Paid Parking","url":"/paidPKM-009","method":"post","swaggerDoc":"","x":87,"y":93,"wires":[["8a091a9a.02807","77f56e56.efe8d8"]]},{"id":"8a091a9a.02807","type":"http response","z":"ccee3a1f.615","name":"","x":401,"y":86.75,"wires":[]},{"id":"3cddb0fc.913598","type":"http in","z":"ccee3a1f.615","name":"Start Parking","url":"/startPKM-009","method":"post","swaggerDoc":"","x":86,"y":152,"wires":[["e5ccbb34.fa30d","52f47d26.83a45c"]]},{"id":"e5ccbb34.fa30d","type":"http response","z":"ccee3a1f.615","name":"","x":400,"y":145.75,"wires":[]},{"id":"8e0cf7a9.ecf708","type":"debug","z":"ccee3a1f.615","name":"","active":true,"console":"false","complete":"false","x":761.5,"y":44.5,"wires":[]},{"id":"604997c1.644f98","type":"debug","z":"ccee3a1f.615","name":"","active":true,"console":"false","complete":"false","x":887,"y":123,"wires":[]},{"id":"51fe85ca.45daec","type":"ibmiot","z":"ccee3a1f.615","name":"MyWatsonIoT","keepalive":"60","cleansession":true,"appId":"","shared":false}]
