testing/node-red/talktocontract/talktocontract.json
[{"id":"f0747f13.49337","type":"inject","z":"de5da640.6e2f28","name":"POLL","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":95,"y":302,"wires":[["510650d7.c3f19"]]},{"id":"e14bcd69.2deeb","type":"template","z":"de5da640.6e2f28","name":"readContractState","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"query\",\n    \"params\": {\n        \"type\": 1,\n        \"chaincodeID\":{\n            \"name\":\"{{chaincodename}}\"\n        },\n        \"ctorMsg\": {\n            \"function\":\"readContractState\",\n            \"args\":[]\n        },\n        \"secureContext\": \"{{securecontext}}\"\n    },\n    \"id\":1234\n}","x":642,"y":447,"wires":[["586b24ba.03a76c"]]},{"id":"5ec956b1.81e3a8","type":"debug","z":"de5da640.6e2f28","name":"DEBUG","active":true,"console":"false","complete":"payload","x":1136,"y":959,"wires":[]},{"id":"586b24ba.03a76c","type":"http request","z":"de5da640.6e2f28","name":"POST to CONTRACT","method":"POST","ret":"obj","url":"","tls":"","x":1103,"y":804,"wires":[["5ec956b1.81e3a8"]]},{"id":"1fbdb192.7c7c1e","type":"template","z":"de5da640.6e2f28","name":"CHAINCODENAME","field":"chaincodename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"mycc","x":269,"y":430,"wires":[["e14bcd69.2deeb","c4f328f.db136d8","f477abd9.c14a28"]]},{"id":"510650d7.c3f19","type":"template","z":"de5da640.6e2f28","name":"URL","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://tp-letkemank:5000/chaincode","x":173,"y":373,"wires":[["1fbdb192.7c7c1e"]]},{"id":"21d8cf6d.a9d14","type":"template","z":"de5da640.6e2f28","name":"readAssetAircraftComplete","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"query\",\n    \"params\": {\n        \"type\": 1,\n        \"chaincodeID\":{\n            \"name\":\"{{chaincodename}}\"\n        },\n        \"ctorMsg\": {\n            \"function\":\"readAssetAircraftComplete\",\n            \"args\":[\"{\\\"assetID\\\":\\\"{{assetID}}\\\"}\"]\n        },\n        \"secureContext\": \"{{securecontext}}\"\n    },\n    \"id\":1234\n}","x":625,"y":556,"wires":[["586b24ba.03a76c"]]},{"id":"c4f328f.db136d8","type":"template","z":"de5da640.6e2f28","name":"assetID","field":"assetID","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5678","x":300,"y":580,"wires":[["21d8cf6d.a9d14"]]},{"id":"f477abd9.c14a28","type":"template","z":"de5da640.6e2f28","name":"readRecentStates","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"query\",\n    \"params\": {\n        \"type\": 1,\n        \"chaincodeID\":{\n            \"name\":\"{{chaincodename}}\"\n        },\n        \"ctorMsg\": {\n            \"function\":\"readRecentStates\",\n            \"args\":[]\n        },\n        \"secureContext\": \"{{securecontext}}\"\n    },\n    \"id\":1234\n}","x":631,"y":661,"wires":[["586b24ba.03a76c"]]}]